/* You can add global styles to this file, and also import other style files */
.h50{margin-top: 50px;}
.h100{margin-top: 100px;}
.h150{margin-top: 150px;}
.h200{margin-top: 200px;}
.h250{margin-top: 250px;}
.compicon{
    width:150px;
    height:150px;
}
.pt10{
    padding-top: 10px;
}
.pt20{
    padding-top: 20px;
}
.pt30{
    padding-top: 30px;
}
.tal{
    text-align:left;
}
.length50p{
    width:50%;
}
.length90p{
    width:90%;
}
.f10{font-size:10px;}
.f20{font-size:20px;}
.f30{font-size:30px;}
.f40{font-size:40px;}
.pb10{ padding-bottom: 10px;}
.pb20{ padding-bottom: 20px;}
.pb30{ padding-bottom: 30px;}
.pb40{ padding-bottom: 40px;}
.pb50{ padding-bottom: 50px;}
.mb10{ margin-bottom: 10px;}
.mb20{ margin-bottom: 20px;}
.mb30{ margin-bottom: 30px;}
.mb40{ margin-bottom: 40px;}
.m0{margin:00px !important;}
.p0{padding:00px !important;}
.pl10{padding-inline-start: 10px;}
.pr10{padding-right:10px;}
.pt10{padding-top:10px;}
.mb100{margin-bottom: 100px;}
