<div class="row h100" >
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <!--fomr container--->
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-3">
                <img src="https://image.flaticon.com/icons/svg/2331/2331966.svg" class="compicon" />
            </div>
            <div class="col-sm-5"><p class="mainText pt20 tal">ShopBridge</p></div>
            <div class="col-sm-2"></div>
        </div>
        <div class="row h100">
            <div class="col-sm-3"></div>
            <div class="col-sm-8">
                <button type="button" class="btn btn-outline-primary length90p f30 mb20" (click)="AddProduct()">
                    <i class="fa fa-plus-square" aria-hidden="true"></i>
                Add Products</button>
                <button type="button" class="btn btn-outline-secondary length90p f30" (click)="ProductList()"><i class="fa fa-th-list"></i>  Product List</button>
            </div>
        </div>
    </div>
    <div class="col-sm-3"></div>
</div>